.agents
.obsidian
*.bkp
.codexignore
skills-lock.json
skills
tokkkk.txt
Lint*Checking*.md
Spec*Validation*.md
fix-notes.md
AES-GCM-Libero
edaplayground
*.log
*.tcl
*.bak
uart_integration\python\__pycache__\